.flex {
    display: flex;
}

.center {
    align-items: center;
}

.user-details {
    justify-content: space-between;
    width: 450px;
}

.plus-icon {
    width: 350px;
    justify-content: flex-end;
}

.user-details > h1, p {
    margin: 0;
}

.tweet {
    align-items: flex-start;
    border: solid 2px #D0D7DE;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

.icons {
    justify-content: space-between;
    width: 450px;
}

.profile-picture {
    border: solid 1px;
    border-radius: 50%;
    width: 50px;
}

.inner-tweet {
    margin-left: 20px;
}

.text-tweet {
    margin: 20px 0 25px 0;
}